<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 20%;
        }
        h1 {
            color: #3498db;
        }
        label {
            color: #2c3e50;
        }
    </style>
    <title>Book Search</title>
</head>
<body>
    <h1>Welcome to book app (source for book search)</h1>
</body>
</html>
